@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: var(--default-background); */
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizespeed;
  transition: all 0.1s cubic-bezier(0.65, 0, 0.35, 1);
  z-index: 1;
}



html *::-webkit-scrollbar {
  width: 6px;
  padding: 0 4px;
  border-radius: 4px;
 /* background-color: transparent; */
} 

 html *::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: transparent;
  transition: all 0.4s cubic-bezier(0.65, 0, 0.35, 1);
 }

html *:hover::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.05);
}


 

html *::-webkit-scrollbar-track {
  background-color: #00000000;
} 

div,
button,
input,
[tabindex] {
  outline: none;
  border: none;
  transition: all 0.4s cubic-bezier(0.65, 0, 0.35, 1);
}

a {
 
  text-decoration: none;
}